/* Общие стили */
html body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  text-align: center;
  padding: 20px;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

h2 {
  margin: 0 0 10px 0;
}

.hidden {
  display: none !important;
}

.stop-events {
  pointer-events: none;
}

/* Сетка игрока */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  margin-bottom: 10px;
  place-items: center;
  position: relative;
}

.gridMini {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
  gap: 1px;
  margin-bottom: 10px;
  place-items: center;
}

#enemyField .cell, #playerGrid .cell {
  width: 30px;
  height: 30px;
  background-color: #b8d1dd;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#playerGrid, #playerGrid .cell {
  cursor: default;
}

#myField .cell {
  width: 20px;
  height: 20px;
  background-color: #b8d1dd;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.cell:hover {
  /* opacity: .7; */
  cursor: pointer;
}

/* Корабли */
#fleetPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 5px 0 5px;
  gap: 8px;
  min-width: 330px;
  max-width: 330px;
  min-height: 166px;
}

.ship {
  touch-action: none;
  cursor: grab;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 12px;
}

.ship[data-length="1"] {
  width: 30px;
  height: 30px;

  background-image: url(images/ship-1-g.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="2"] {
  width: 60px;
  height: 30px;
  background-image: url(images/ship-2-g.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="3"] {
  width: 90px;
  height: 30px;
  background-image: url(images/ship-3-g.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="4"] {
  width: 120px;
  height: 30px;
  background-image: url(images/ship-4-g.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="1"].vertical {
  height: 30px;
  width: 30px;
  background-image: url(images/ship-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="2"].vertical {
  height: 60px;
  width: 30px;
  background-image: url(images/ship-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="3"].vertical {
  height: 90px;
  width: 30px;
  background-image: url(images/ship-3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship[data-length="4"].vertical {
  height: 120px;
  width: 30px;
  background-image: url(images/ship-4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Кнопки управления */
#controls {
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#rotateBtn,
#readyBtn,
#resetBtn,
#randomBtn {
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

#modal {
  position: absolute;
  z-index: 999;
}

/* Адаптация модального окна */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
}

.loader {
  border: 6px solid #eee;
  border-top: 6px solid #00aaff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#gameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell.preview-ok {
  background-color: #a7f3a1 !important;
}

.cell.preview-bad {
  background-color: #f3a1a1 !important;
}

.ship.dragging {
  opacity: 0.1;
  cursor: grabbing;
}

.container-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-middle {
  display: flex;
  height: 100%;
  width: 100%;
}

.container-middle>div {
  flex: 1;
  overflow: hidden;
  width: 320px;
  max-width: 320px;
  min-width: 320px;
  margin: 5px;
  margin: 5px;
  align-items: flex-end;
  justify-content: center;
  max-height: 382px;
}

/* тест */
#connectionPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 330px;
  margin: 0 auto;
}

#secretInput {
  width: 100%;
  padding: 16px 20px;
  font-size: 18px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#connectBtn {
  width: 100%;
  padding: 16px 20px;
  font-size: 18px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#connectBtn:active {
  transform: scale(0.95);
}

.cell[data-y="11"], .cell[data-y="12"] {
  opacity: 0;
  cursor: default;
}

#readyBtn {
  /* background-color: #5cb85c; */
  padding: 0;
  height: 50px;
  width: 50px;

  background-image: url(images/ready.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 6px;
  background-color: transparent;
}

#randomBtn {
  padding: 0;
  height: 50px;
  width: 50px;

  background-image: url(images/bone.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 6px;
  background-color: transparent;
}

#resetBtn {
  /* background-color: #d9534f; */
  padding: 0;
  height: 50px;
  width: 50px;

  background-image: url(images/reset.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 6px;
  background-color: transparent;
}

#rotateBtn {
  padding: 0;
  height: 50px;
  width: 50px;

  background-image: url(images/rotate.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 6px;
  /* background-color: rgba(240, 173, 78, 1); */
  background-color: transparent;
}

#myField, #enemyField {
  margin: 0;
  position: relative;
}

#exitBtn {
  position: absolute;
  right: 0;
  top: 35px;
  background-color: transparent;
  height: 35px;
  width: 35px;
  display: flex;
  background-image: url(images/exit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px dashed rgba(196, 156, 93, 0.5);
  border-radius: 6px;
}

#exitBtn.setup {
  position: static;
  margin: 5px;
  height: 50px;
  width: 50px;
}

#enemyField .cell.ship,
#myField .cell.ship {
  touch-action: none;
  cursor: grab;
}

#myField .cell.ship {
  border: none;
}

#enemyField .cell.miss,
#myField .cell.miss {
  background-image: url(images/miss11.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

#enemyField .cell.hit,
#myField .cell.hit {
  pointer-events: none;
}

#enemyField .cell.hit::after,
#myField .cell.hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/hit11.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  pointer-events: none;
  z-index: 2;
  opacity: .85;
}

/* Общий класс «поставленного» корабля */
.placed-ship {
  position: absolute;
  /* pointer-events: none; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  cursor: grab;
}

/* Горизонтальные */
.placed-ship[data-length="1"][data-orientation="horizontal"] {
  width: 30px;
  height: 30px;
  background-image: url(images/ship-1-g.png);
}

.placed-ship[data-length="2"][data-orientation="horizontal"] {
  width: 60px;
  height: 30px;
  background-image: url(images/ship-2-g.png);
}

.placed-ship[data-length="3"][data-orientation="horizontal"] {
  width: 90px;
  height: 30px;
  background-image: url(images/ship-3-g.png);
}

.placed-ship[data-length="4"][data-orientation="horizontal"] {
  width: 120px;
  height: 30px;
  background-image: url(images/ship-4-g.png);
}

/* Вертикальные */
.placed-ship[data-length="1"][data-orientation="vertical"] {
  width: 30px;
  height: 30px;
  background-image: url(images/ship-1.png);
}

.placed-ship[data-length="2"][data-orientation="vertical"] {
  width: 30px;
  height: 60px;
  background-image: url(images/ship-2.png);
}

.placed-ship[data-length="3"][data-orientation="vertical"] {
  width: 30px;
  height: 90px;
  background-image: url(images/ship-3.png);
}

.placed-ship[data-length="4"][data-orientation="vertical"] {
  width: 30px;
  height: 120px;
  background-image: url(images/ship-4.png);
}

/* Класс «спрайта» для мини‑корабля */
.placed-ship-mini {
  position: absolute;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

/* Горизонтальные мини‑спрайты */
.placed-ship-mini[data-length="1"][data-orientation="horizontal"] {
  width: 20px;
  height: 20px;
  background-image: url(images/ship-1-g.png);
}

.placed-ship-mini[data-length="2"][data-orientation="horizontal"] {
  width: 40px;
  height: 20px;
  background-image: url(images/ship-2-g.png);
}

.placed-ship-mini[data-length="3"][data-orientation="horizontal"] {
  width: 60px;
  height: 20px;
  background-image: url(images/ship-3-g.png);
}

.placed-ship-mini[data-length="4"][data-orientation="horizontal"] {
  width: 80px;
  height: 20px;
  background-image: url(images/ship-4-g.png);
}

/* Вертикальные мини‑спрайты */
.placed-ship-mini[data-length="1"][data-orientation="vertical"] {
  width: 20px;
  height: 20px;
  background-image: url(images/ship-1.png);
}

.placed-ship-mini[data-length="2"][data-orientation="vertical"] {
  width: 20px;
  height: 40px;
  background-image: url(images/ship-2.png);
}

.placed-ship-mini[data-length="3"][data-orientation="vertical"] {
  width: 20px;
  height: 60px;
  background-image: url(images/ship-3.png);
}

.placed-ship-mini[data-length="4"][data-orientation="vertical"] {
  width: 20px;
  height: 80px;
  background-image: url(images/ship-4.png);
}

.explosion, .explosionUnderwater {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.explosion-mini, .explosionUnderwater-mini {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.exitBtn-end {
  opacity: 0;
  transition: all 1s ease-out;
  top: 30px !important;
  right: 30px !important;
  position: absolute;
  background-color: transparent !important;
  height: 35px;
  width: 35px;
  display: flex;
  background-image: unset !important;
  border: none !important;
  border-radius: unset !important;
  font-size: 25px;
}

.win-layer, .lose-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.lose-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gun-left,
.gun-right,
.gold,
.win-banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: all 1s ease-out;
}

.gun-left {
  left: -250px;
  bottom: 20%;
  background-image: url('images/gun.png');
}

.gun-right {
  right: -250px;
  bottom: 20%;
  background-image: url('images/gun_2.png');
}

.gold {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('images/gold.png');
}

.win-banner {
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('images/win.png');
  width: 270px;
  height: 196px;
  background-position: center center;
}

.lose-banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 70%;
  opacity: 0;
  transition: all 1s ease-out;
  background-image: url('images/the_end.png');
  background-position: center center;
}

.show {
  opacity: 1;
}

.slide-in-left {
  left: -50px;
}

.slide-in-right {
  right: -50px;
}

.slide-down {
  top: -20px;
}

.in-game {
  background-image: url('images/back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

#duck-container {
  position: absolute;
  top: 90px;
  height: 112px;
  right: -3px;
  width: 112px;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.explosion-canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform; /* GPU-композиция */
  z-index: 12;
}

/* контейнер счётчика */
.ship-counter {
  position: absolute;
  top: -8px;
  left: -8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  text-align: center;
  pointer-events: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* быстрый «pop» при обновлении счётчика */
@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.4); }
  100% { transform: scale(1); }
}
.animate-count {
  animation: pop 0.4s ease-out;
}

